html {
font-family: Raleway, sans-serif; color: white;

width: Calc(100% - body);
}

body {
  background-image: url("img/forest.jpeg");

  overflow: hidden;
}

.logo {

}
.element {
font-size: 40px;
text-align: center;
  border: 3px;
  padding: 10px;
}
.hr {

}
.days {

}
